*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	min-height: 100%;
	position: relative;
	scroll-behavior: smooth;
	scrollbar-gutter: stable;
}

body {
	color: #2E3237;
	font-family: "Onest", serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	line-height: 20.4px;

	&.is-popup-open {
		overflow: hidden;
	}
}

.wrapper {
	display: flex;
	flex-flow: column nowrap;
	min-height: 100vh;
	overflow: hidden;
}

.main {
	position: relative;
	flex-grow: 1;
	transition: padding .3s;
	padding-top: 230px;
	
	@media only screen and (max-width: 1000px) {

	}
}

.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 240px;

	@media only screen and (max-width: 1750px) {
		padding: 0 40px;
	}

	@media only screen and (max-width: 1199px) {
		padding: 0 20px;
	}
}

img {
	max-width: 100%;
	vertical-align: bottom;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

*:focus {
	outline: none !important;
}

canvas {
	display: block;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	transition: color .3s;
}

p {
	margin: 1em 0;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

button {
	background-color: transparent;
	padding: 0;
	border: none;
	user-select: none;
	cursor: pointer;
}

img {
	max-width: 100%;
}

.svg-icon {
	fill: currentColor;
}

.icon {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}

a,
input,
label,
button {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent
}

a,
input,
label,
span,
button::selection {
	background: transparent
}

a,
input,
label,
button::-moz-selection {
	background: transparent
}

/* Modern Browsers */
::placeholder {
	font-family: Onest;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.85px;
	text-align: left;
	color: #2E3237B8;
}

/* WebKit, Edge */
::-webkit-input-placeholder {
	font-family: Onest;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.85px;
	text-align: left;
	color: #2E3237B8;
}

/* Firefox 4-18 */
:-moz-placeholder {
	font-family: Onest;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.85px;
	text-align: left;
	color: #2E3237B8;
	opacity: 1; /* Override default Firefox opacity */
}

/* Firefox 19+ */
::-moz-placeholder {
	font-family: Onest;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.85px;
	text-align: left;
	color: #2E3237B8;
	opacity: 1; /* Override default Firefox opacity */
}

/* IE 10-11 */
:-ms-input-placeholder {
	font-family: Onest;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.85px;
	text-align: left;
	color: #2E3237B8;
}

/* Edge */
::-ms-input-placeholder {
	font-family: Onest;
	font-size: 14px;
	font-weight: 400;
	line-height: 17.85px;
	text-align: left;
	color: #2E3237B8;
}

.scrollable-container {
	display: contents;

	@media only screen and (max-width: 900px) {
		display: block;
		height: calc(100vh - 100px);
		overflow-y: scroll;
		padding-bottom: 50px;

		&::-webkit-scrollbar,
		&::-webkit-scrollbar-thumb {
			display: none;
		}
	}
}