<header class="header" data-element="header">

	<!-- <div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<a href="/" class="header__logo">
				<img src="img/logo.svg" alt="site logo">
			</a>

			<div class="menu">
				<div class="menu-scroll">

					<div class="search">
						<input type="text" id="search-input" placeholder="Поиск">

						<button type="submit" id="search-button">
							<span>
								<svg class="svg-icon" viewBox="0 0 15 15" width="15" height="15"><use xlink:href="img/sprite.svg#sprite--search"></use></svg>
							</span>
						</button>
					</div>

					<div class="header__contacts">
						<div class="header__tel">
							<div class="header__tel-list">
								<a class="header__tel-link" href="tel:+79009456470">+7 (900) 945-64-70</a>
								<a class="header__tel-link" href="tel:+79066786852">+7 (906) 678-68-52</a>
							</div>

							<div class="icons">
								<a class="icons__link" target="_blank" href="">
									<svg class="svg-icon" viewBox="0 0 13 11" width="13" height="11"><use xlink:href="img/sprite.svg#sprite--tg"></use></svg>
								</a>
								<a class="icons__link" target="_blank" href="">
									<svg class="svg-icon" viewBox="0 0 17 17" width="17" height="17"><use xlink:href="img/sprite.svg#sprite--wa"></use></svg>
								</a>
								<a class="icons__link" target="_blank" href="">
									<svg class="svg-icon" viewBox="0 0 15 16" width="15" height="16"><use xlink:href="img/sprite.svg#sprite--arrow-ring"></use></svg>
								</a>
							</div>
						</div>
					</div>

					<a href="" class="header__button header__button--reg button">Регистрация оптового клиента</a>

					<nav class="header__nav">
						<ul class="header__nav-list">

							<li class="header__nav-item header__nav-item--main">
								<ul class="header__nav-list header__nav-list">
									<li class="header__info-item">
										<a href="#" class="header__info-link">О компании</a>
									</li>
									<li class="header__info-item">
										<a href="#" class="header__info-link">Партнерам</a>
									</li>
									<li class="header__info-item">
										<a href="#" class="header__info-link">Где купить</a>
									</li>
									<li class="header__info-item">
										<a href="#" class="header__info-link">Доставка и оплата</a>
									</li>
									<li class="header__info-item">
										<a href="#" class="header__info-link">Новости</a>
									</li>
									<li class="header__info-item">
										<a href="#" class="header__info-link">Контакты</a>
									</li>
								</ul>
							</li>

							<li class="header__nav-item">
								<a class="header__nav-link" href="/">Lazell</a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link" href="equipment.html">10th Avenue</a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link" href="catalog.html">GALAXE</a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link" href="/">AREEN</a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link" href="contacts.html">Shirley May Deluxe</a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link" href="contacts.html">Cindy C.</a>
							</li>
							<li class="header__nav-item">
								<a class="header__nav-link" href="contacts.html">Giorgio Monti</a>
							</li>
						</ul>
					</nav>

				</div>

			</div>
		</div>
	</div> -->

</header>


