<header class="header" data-element="header">

	<div class="container">
		<div class="header__wrapper">

			<button class="header__burger" data-element="navToggle">
				<i></i>
				<i></i>
				<i></i>
			</button>

			<a href="/" class="header__logo">
				<img src="img/logo.svg" alt="site logo">
			</a>

			<div class="menu">
				<div class="menu-scroll">

					<nav class="header__nav">
						<ul>
							<li><a href="/">Главная</a></li>
							<li><a href="/">Услуги</a></li>
							<li><a href="/">Портфолио</a></li>
							
							<li>
								<div class="header__nav-caption" data-element="subNavToggle">
									<h3>Наше производство</h3>
									<img src="img/icons/down.svg" alt="icon">
								</div>
								
								<ul>
									<li>
										<a href="#">Двери для спален</a>
									</li>
									<li>
										<a href="#">Окна</a>
									</li>
									<li>
										<a href="#">Столы</a>
									</li>
									<li>
										<a href="#">Стулья</a>
									</li>
									<li>
										<a href="#">Двери</a>
									</li>
									<li>
										<a href="#">Окна</a>
									</li>
									<li>
										<a href="#">Столы</a>
									</li>
									<li>
										<a href="#">Стулья</a>
									</li>
								</ul>
							</li>

							<li><a href="/">Контакты</a></li>
						</ul>
					</nav>

					<div class="header__contacts">
						<a href="tel:+79787962357">
							<img src="img/icons/phone.svg" alt="icon">
						</a>
						<a href="mailto:tritet@mail.ru">
							<img src="img/icons/mail.svg" alt="icon">
						</a>
					</div>

				</div>
			</div>
		</div>
	</div>

</header>


