<div id="callback" class="modal">
	<h3 class="partner__form-heading">
		Заказать обратный звонок
	</h3>
	<form class="form" action="">
		<input class="form__input" type="text" name="name" required="" placeholder="Ваше имя">
		<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="+7 (000) 000 - 00 - 00" maxlength="18">			
		<button class="form__button button button--green" type="submit">перезвоните мне</button>

		<div class="form__wrapper form__wrapper--agreement">
			<input class="form__checkbox" id="agreement-doc" type="checkbox" name="agreement" checked required="">
			<label class="form__label form__label--checkbox" for="agreement-doc">
				Нажимая на кнопку, вы даете согласие на обработку персональных данных
			</label>
		</div>
	</form>
</div>