<div id="callback" class="modal">
	<div class="contacts-page__form">
		<h2>
			Обратная связь
		</h2>
		<p>
			Заполните форму и мы перезвоним вам в ближайшее время
		</p>
		<form class="form" action="">
				<input class="form__input" type="text" name="name" required="" placeholder="Имя">
				<input class="form__input form__input--tel" type="text" name="tel" required="" placeholder="Телефон" maxlength="18">

				<button class="button form__button" type="submit">
					Отправить заявку
				</button>

				<div class="form__check">
					<div class="checkbox">
						<label>
							<input type="checkbox" class="required" checked/>
							<span>Согласие на обработку персональных данных</span>
						</label>
					</div>
				</div>
		</form>
	</div>
</div>