.breadcrumbs {
	margin-top: 20px;
	display: flex;
	height: 50px;
	
	@media (max-width: 1000px) {
		// display: none;
		overflow-x: scroll;
		&::-webkit-scrollbar,
		&::-webkit-scrollbar-thumb {
			display: none;
		}
	}

	& a {
		font-size: 14px;
		line-height: 20px;
		color: #667884;
	}

	.breadcrumb_font_style {
		padding: 6px;
		border-radius: 4px;
		background-color: #9B9B9B29;
		margin-right: 10px;
	}

	.breadcrumb_font_dash {
		color: #2E323729;
	}

	& ol {
		flex-shrink: 0;
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
		width: max-content;

		font-size: 14px;
		line-height: 20px;
		color: #667884;
	}

	& ol li:not(:last-child) {
		margin-right: 10px;
	}

	& ol li:last-child {
		.breadcrumb_font_style {
			padding: 6px;
			border-radius: 4px;
			background-color: #9B9B9B29;
			margin-right: 10px;
			color: #2E323752;
		}
	}

	.breadcrumb_font_style {

	}

	.span_m_l_20 {
		margin-left: 15px;
	}
}
