.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	transition: color .3s, background-color .3s, opacity .3s, box-shadow .3s;

	font-family: Onest;
	font-size: 14px;
	font-weight: 600;
	line-height: 17.85px;
	text-transform: uppercase;

	color: #667884;
	background-color: #66788452;

	padding: 20px 40px;
	border-radius: 64px;
	border: none;

	@media (hover: hover) {
		&:hover {
			// background-color: darken($color: #66788452, $amount: 30%);
			background-color: #41484d52;
			color: #ffffff;
		}
	}

	@media only screen and (max-width: 1400px) {
		padding: 10px 20px;
		font-size: 13px;
		font-weight: 500;
		line-height: 16px;
	}
}
