.button {
	display: inline-flex;
	align-items: center;
	position: relative;
	text-align: center;
	justify-content: center;
	overflow: hidden;
	cursor: pointer;
	text-decoration: none;
	transition: color .3s, background-color .3s, opacity .3s, box-shadow .3s;

	font-family: Nunito Sans;
	font-size: 16px;
	font-weight: 600;
	line-height: 22.4px;

	color: #555555;
	background-color: #fff;

	padding: 24px 36px;
	border-radius: 48px;
	border: none;

	@media (hover: hover) {
		&:hover {
			background-color: #ffffffea;
			color: #000;
		}
	}
}
