.calc {
	padding: 100px 0 150px 0;
	color: #555555;

	@media (max-width: 750px) {
		padding: 60px 0;
	}

	&__content {
		display: flex;
		gap: 36px;
		justify-content: space-between;

		@media (max-width: 1250px) {
			flex-direction: column-reverse;
		}
	}

	& aside {
		width: calc(40% - 36px / 2);
		height: max-content;
		flex-shrink: 0;
		background-color: #D9D9CA;
		padding: 40px 30px;

		@media (max-width: 1500px) {
			width: calc(30% - 36px / 2);
			padding: 20px;
		}

		@media (max-width: 1250px) {
			width: 100%;
		}

		& form {
			display: flex;
			flex-direction: column;

			.form__wrapper {
				display: flex;
				align-items: center;
				width: 100%;
				gap: 14px;
				flex-wrap: wrap;

				.form__check,
				.form__square {
					width: calc(50% - 14px / 2);

					@media (max-width: 1500px) {
						width: 100%;
					}

					@media (max-width: 1250px) {
						width: calc(50% - 14px / 2);
					}

					@media (max-width: 900px) {
						width: 100%;
					}
				}
			}

			.form__square {
				display: flex;
				align-items: center;
				gap: 10px;
				justify-content: space-between;
				font-size: 14px;
				font-weight: 500;
				line-height: 14px;

				& input {
					width: 92px;
					padding: 12px 30px;
					height: 43px;
					border: 1px solid #E3E6E8;
					background-color: #fff;
					border-radius: 6px;

					font-family: "Roboto Flex", sans-serif;
					font-size: 16px;
					font-weight: 400;
					line-height: 18.75px;

					@media (max-width: 1250px) {
						width: auto;
					}

					@media (max-width: 900px) {
						max-width: 100px;
					}
				}
			}

			.checkbox {
				font-size: 14px;
				font-weight: 500;
				line-height: 19.1px;
				color: #555555;
				background-color: #fff;
				border-radius: 6px;
				padding: 14px 16px;
				display: flex;
				justify-content: flex-start;
			}

			.checkbox label {
				width: 100%;
			}

			.checkbox label input {
				position: absolute;
				z-index: -1;
				height: 1px !important;
				width: 1px !important;
				opacity: 0 !important;
			}

			.checkbox label > span {
				position: relative;
				display: block;
				cursor: pointer;
				width: 100%;
			}

			.checkbox label > span:before {
				display: none;
			}

			.checkbox label > span:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: auto;
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-style: normal;
				font-variant: normal;
				text-rendering: auto;
				line-height: 1;
				background-image: url("../img/lg-check.svg");
				background-repeat: no-repeat;
				background-position: center center;
				opacity: 0;
				transition: .3s;
			}
			.checkbox label input:checked + span:after {
				opacity: 1;
			}

			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button {
				-webkit-appearance: none; /* Для браузеров на основе WebKit (Chrome, Safari) */
				margin: 0; /* Убираем отступ */
			}

			input[type=number] {
				-moz-appearance: textfield; /* Для Firefox */
			}
		}
	}

	&__result {
		margin-top: 80px;

		&-caption {
			font-size: 16px;
			font-weight: 500;
			line-height: 20.8px;
		}

		&-value {
			font-size: 32px;
			font-weight: 500;
			line-height: 41.6px;
		}

		@media (max-width: 1250px) {
			margin-top: 30px;
		}
	}

	&__button {
		background-color: #452222 !important;
		color: #fff !important;
		margin-top: 70px;
		width: 245px;

		@media (max-width: 1250px) {
			margin-top: 30px;
		}

		@media (hover: hover) {
			&:hover {
				background-color: #774242 !important;
			}
		}
	}

	& h1 {
		font-size: 48px;
		font-weight: 500;
		line-height: 62.4px;
		margin-bottom: 20px;

		@media (max-width: 1250px) {
			font-size: 28px;
			line-height: 36px;
		}
	}

	& h2 {
		font-size: 32px;
		font-weight: 500;
		line-height: 41.6px;
	}

	& p {
		font-size: 16px;
		font-weight: 500;
		line-height: 20.8px;
	}

	& .slider-container {
		width: 825px;
		margin: 0 0 30px 0;

		@media (max-width: 1250px) {
			margin: 0 auto 30px auto;
			width: 100%;
		}

		/* Верхний слайдер */
		.big-slider .slick-slide {
			position: relative;
			height: 510px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media (max-width: 1250px) {
				height: 360px;
			}
		}

		.big-slider img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		/* Нижний слайдер */
		.small-slider .slick-slide {
			position: relative;
			height: 175px;
			width: 240px;
			display: flex;
			align-items: center;
			justify-content: center;
			margin: 0 10px;
			border: 1px solid #E3E6E8;
			cursor: pointer;

			@media (max-width: 1250px) {
				height: 110px;
				width: 156px;
				margin: 0 6px;
			}
		}

		.small-slider-container {
			position: relative;

			& .prev,
			& .next {
				position: absolute;
				top: calc(50% - 28px);
				display: flex;
				width: 56px;
				height: 56px;
				flex-shrink: 0;
				justify-content: center;
				align-items: center;
				border: 2px solid #A4A47C;
				background-color: #fff;
				padding: 16px 16px 16px 12px;
				transition: border-color .3s, background-color .3s;
			}

			& .prev {
				left: -10px;
			}

			& .next {
				right: -10px;
				transform: scale(-1, -1);
			}

			@media (hover: hover) {
				& .prev:hover,
				& .next:hover {
					border-color: #535340;
					background-color: #f1f1f1;
				}
			}
		}

		.small-slider {
			margin-top: 30px;
		}

		.small-slider img {
			position: absolute;
			inset: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}