.hero {
	width: 100%;
	min-height: 100vh;
	background-image: url("../img/hero-bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	padding: 400px 0 128px 0;
	color: #fff;

	@media (max-width: 1400px) {
		padding: 200px 0;
	}

	@media (max-width: 1100px) {
		padding: 100px 0;
	}

	@media (max-width: 1000px) {
		background-image: none;
		background: linear-gradient(90.3deg, #323232 0.80%, rgba(41, 41, 41, 0.596) 100%);
	}

	&__content {
		display: flex;
		flex-direction: column;
	}

	&__main-text {
		margin: 0 0 24px 0;
		width: 70%;
		font-size: 48px;
		font-weight: 700;
		line-height: 62.4px;
		text-transform: uppercase;

		@media (max-width: 1000px) {
			width: 100%;
			font-size: 30px;
			font-weight: 600;
			line-height: 40px;
		}
	}

	&__sub-text {
		width: 44%;
		margin: 0 0 80px 0;
		font-size: 24px;
		font-weight: 600;
		line-height: 38.4px;

		@media (max-width: 1000px) {
			width: 100%;
			font-size: 20px;
			line-height: 30px;
		}
	}

	&__button {
		gap: 13px;
		max-width: 302px;
	}
}